
<div class="component-bookmark">
	<Feather icon="bookmark" classes="main-icon" /><a href="/bookmarks/@(bookmark.ID)">@bookmark.Name</a>
	(<a class="external-link" href="@(bookmark.URL)" target="_blank"><Feather icon="external-link" width="28" height="28"/></a>
	<a class="edit-link" href="/bookmarks/@(bookmark.ID)/edit"><Feather  icon="edit" /></a>
	<a class="move-link" href="/bookmarks/@(bookmark.ID)/move"><Feather  icon="move" /></a>
	<a class="delete-link" href="/bookmarks/@(bookmark.ID)/deleteconfirmation"><Feather icon="x-square" /></a>)
</div>

@code {
	[Parameter, EditorRequired]
	public Classes.Bookmark bookmark { get; set; }
	[Parameter]
	public string fillColor { get; set; } = "none";

}
