
<span><a @onclick=@OnClick><Feather icon="tag"  width="16" height="16" /> @tag</a></span>

@code {

	[Parameter]
	public string fill { get; set; }
	[Parameter]
	public string tag { get; set; }
	[Parameter]
	public EventCallback<MouseEventArgs> OnClick { get; set; }


}
