
<span @onclick=@OnClick class="component-tag"><a><Feather icon="tag" />@tag</a></span>

@code {

	[Parameter]
	public string fill { get; set; }
	[Parameter]
	public string tag { get; set; }
	[Parameter]
	public EventCallback<MouseEventArgs> OnClick { get; set; }


}
