<PageTitle>Set API Key</PageTitle>
<h3>Set you API key here !</h3>
<p>Go to <a href="https://apibookmarks.hlw.ninja"> our <em>API</em></a> and <em>register</em> to get an API Key for free ! <br />
	Then use it here to access all of our content and start handling your <em>bookmarks</em> !</p>
@code {

}
