<PageTitle>Root Folder</PageTitle>

<h3>Your root Folder</h3>
<p>Your <em>root folder</em> is your <em>main folder</em>. From here you can access all your <em>bookmarks</em> and <em>folders</em> and <em>navigate</em> between them !</p>
@code {

}
