<PageTitle>Search by tag</PageTitle>
<h3>Search bookmarks by tag</h3>
<p>From this page you can search for your <em>folders and bookmarks</em> using the <em>tags</em> you set up for them.</p>
@code {

}
