@page "/temp1"
@inject TempData tempdata

<h3>value : @value</h3>

<A href="/temp2" test="@("test")" beforeClick="@test">temp2</A>

@code {
	string value;
	protected override async Task OnInitializedAsync()
	{

		value = tempdata["test"] as string;
	}

	public async Task test(){
		tempdata["hello"] = "hi";
	}
}
