@page "/temp2"
@inject TempData tempdata

<h3>lorem</h3>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at arcu accumsan felis placerat scelerisque. Sed interdum elementum venenatis. Vivamus euismod est quis felis rhoncus, non tincidunt turpis posuere. Nulla facilisi. In hac habitasse platea dictumst. In congue est non ex congue blandit. Mauris at nisl id lectus venenatis tincidunt aliquam non lectus. Aenean tincidunt lorem vehicula sapien molestie vestibulum.

In fermentum convallis sodales. Integer ullamcorper felis arcu, sit amet placerat ligula tempor et. Nunc tincidunt, felis quis efficitur scelerisque, neque eros aliquet mauris, nec viverra metus urna dignissim augue. Sed quis nulla in magna ultrices vestibulum. Mauris luctus ut mi at pharetra. Curabitur at ex posuere, vestibulum arcu ac, luctus erat. Praesent vitae nunc sed sapien auctor lacinia ullamcorper vitae lorem. Vivamus sagittis sem turpis. Nam eget ante massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed efficitur iaculis volutpat. Duis et dui faucibus, tempor orci eget, lobortis nunc. Curabitur dignissim felis vel sapien interdum, ut egestas quam laoreet. Sed pulvinar ante rhoncus, sollicitudin sapien eget, sollicitudin mi.

Sed et bibendum nunc, a mattis dui. Vestibulum quis varius dolor. Vivamus pellentesque semper urna, quis faucibus dui tristique eget. Vivamus ultrices, neque ut facilisis pharetra, urna lorem finibus erat, ut posuere leo libero ac nisl. Vestibulum viverra tristique tempus. Aenean sit amet erat enim. Ut malesuada nulla a erat commodo, et sodales risus cursus.

Maecenas aliquam malesuada elit eleifend fermentum. Suspendisse facilisis consequat quam lobortis suscipit. Donec neque elit, cursus in interdum sed, sodales a dolor. In consectetur justo quis tincidunt tempus. Praesent porttitor ullamcorper lobortis. Nunc pharetra felis justo, eu efficitur quam laoreet nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus tristique bibendum mauris. Aenean cursus commodo nisi, egestas hendrerit velit posuere sed. In sed metus efficitur, facilisis metus sed, placerat metus. Pellentesque luctus, quam a tincidunt laoreet, purus libero viverra tellus, id dictum mauris ex vel velit. Ut feugiat nisl non egestas scelerisque.

Sed lacinia sit amet velit in consectetur. Donec consectetur ullamcorper fringilla. In a arcu ut ligula molestie lacinia. Pellentesque consequat metus sit amet erat laoreet semper. Vestibulum gravida rhoncus eleifend. Fusce in bibendum velit. Pellentesque sed ultrices eros. Morbi sit amet nulla ante. Etiam non metus est. Pellentesque molestie accumsan imperdiet. Vestibulum vestibulum ante non semper congue.
</p>

@code {
	string value;
	protected override async Task OnInitializedAsync()
	{
		value = tempdata["test"] as string;
	}
}
