@page "/temp1"
@inject TempData tempdata

<h3>value : @value</h3>

<p>width: @width</p>

@code {
	string value;
	float height, width;
	protected override async Task OnInitializedAsync()
	{
		height = await WindowSize.GetHeight();
		width = await WindowSize.GetWidth();
		WindowSize.WindowSizeChanged += wsc;
		value = tempdata["test"] as string;

	}

	public async Task test(){
		tempdata["hello"] = "hi";
	}
	

	public async void wsc(float width, float height)
	{
		this.height = height;
		this.width = width;
		StateHasChanged();
	}
}
