@page "/temp1"
@inject TempData tempdata

<h3>value : @value</h3>

<a href="/temp2">temp2</a>

@code {
	string value;
	protected override async Task OnInitializedAsync()
	{
		tempdata["test"] = "test";
		value = tempdata["test"] as string;
	}
}
