@page "/temp2"
@inject TempData tempdata

<h3>value : @value
hello : @tempdata["hello"]</h3>

<a href="/temp3">temp3</a>

@code {
	string value;
	protected override async Task OnInitializedAsync()
	{
		value = tempdata["test"] as string;
	}
}
