@page "/"
@inject UserAgent UA


	<PageTitle>Home</PageTitle>

		<h1>Welcome to bookmarks.hlw.ninja !</h1>
	<p>This is a front end application consuming the apibookmarks and letting you handle bookmarks and folders of bookmarks !</p>
	<p>Soon : a chrome add-on to access your bookmarks easily!</p>




@code{

}