<div class="@NavMenuCssClass sidebar">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="navmarginleft"><Feather icon="home"  /> Home</span>
            </NavLink>
        </div>
	    <div class="nav-item">
		    <NavLink class="nav-link" href="/setkey">
				<span class="navmarginleft"><Feather icon="key"  /> Log In</span>
		    </NavLink>
	    </div>
	    <div class="nav-item">
		    <NavLink class="nav-link" href="/user/root/content">
				<span class="navmarginleft"><Feather icon="folder"  /> Root folder</span>
		    </NavLink>
	    </div>
	    <div class="nav-item">
		    <NavLink class="nav-link" href="/searchform">
				<span class="navmarginleft"><Feather icon="tag"  /> Search</span>
		    </NavLink>
	    </div>
    </nav>
</div>

@code {
	private bool collapseNavMenu = true;

	[Parameter]
	public bool Collapse { get; set; }

	private string? NavMenuCssClass => Collapse ? "menu-collapse" : null;




}