h1, h2, h3, h4, h5, h6 {
   all:unset;
   display : block;
   margin-bottom: 0.5rem;
   font-weight:700;
}

h1 {
    font-size: 2.25rem;

    .feather {
        height: 2.25rem;
        width: 2.25rem;
        stroke-width: 0.1875rem;
    }
}
h2 {
    font-size: 2rem;

    .feather {
        height: 2rem;
        width: 2rem;
        stroke-width: 0.1875rem;
    }
}
h3{
    font-size : 1.75rem;

    .feather{
        height : 1.75rem;
        width : 1.75rem;
        stroke-width: 0.1875rem;
    }
}