
.component-folder {
    
    .main-icon{
        fill:gold;
        
    }

    .delete-link {
        color: red;

        &:hover {
            color: darkred;
        }
    }
}
.component-bookmark {

    .main-icon{
        fill:green;
    }

    .delete-link {
        color: red;

        &:hover {
            color: darkred;
        }
    }
}

.component-move {
    .main-folder{
        fill:blue;
    }
    .forbidden-folder{
        fill:red;
    }
    .forbidden-move-link{
        stroke:red;
    }
    .folder{
        fill:gold;
    }
}